body {
    background-color: rgb(231, 10, 186);
    text-align: center;
    margin: 50px;
}

h1 {

    color: darkorange;
    font-size: xx-large;
}
p {

    color: darkorange;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    color: darkblue;
    font-size: x-large;
}