body {
    background-color: rgb(231, 10, 186);
    text-align: center;
    margin: 50px;
}
  
h1 {

    color: darkorange;
    font-size: xx-large;
}
p {

    color: darkorange;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    color: darkblue;
    font-size: x-large;
}


/* FOR THE MAP */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }